<div class="container">
  <nav class="header">
    <div class="header-content">
      <ul>
        <li><a href="/"><img src="assets/img/logo.png" alt="logo"></a></li>
        <li><a href="/youtube2gif">YOUTUBE TO GIF</a></li>
        <li><a href="/youtube2image">YOUTUBE TO IMAGE</a></li>
        <li><a href="/youtube2mp3">YOUTUBE TO MP3</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <section>
      <div class="youtube-url">
        <div>
          <label class="triple-border">
            <input type="text" id="youtube" [(ngModel)]="url" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" />
          </label>
        </div>
        <div class="url-wrong" *ngIf="wrongUrl">wrong url!!</div>
        <div>
          <button type="button" id="youtube-load" (click)="loadUrl()">Load</button>
        </div>
      </div>
    </section>

    <section>
      <div class="youtube-editor">
        <div class="youtube-preview">
          <div class="youtube-frame"></div>
          <div class="tips" *ngIf="showTips">Press < > key to previous frame and next frame</div>
        </div>
        <div class="youtube-control">
          <div>
            <div class="quality" *ngIf="!mp3Mode">
              <input type="radio" id="qualitySmall" name="quality" [value]="videoQualities.SMALL" [(ngModel)]="videoQuality" />
              <label for="qualitySmall">SMALL</label>
              <input type="radio" id="qualityMedium" name="quality" [value]="videoQualities.MEDIUM" [(ngModel)]="videoQuality" />
              <label for="qualityMedium">MEDIUM</label>
              <input type="radio" id="qualityLarge" name="quality" [value]="videoQualities.LARGE" [(ngModel)]="videoQuality" />
              <label for="qualityLarge">LARGE</label>
              <input type="radio" id="qualityHD" name="quality" [value]="videoQualities.HD" [(ngModel)]="videoQuality" />
              <label for="qualityHD">HD</label>
              <input type="radio" id="qualityFHD" name="quality" [value]="videoQualities.FHD" [(ngModel)]="videoQuality" />
              <label for="qualityFHD">FHD</label>
            </div>
            <div class="quality" *ngIf="mp3Mode">
              <input type="radio" id="qualityLOW" name="quality" [value]="audioQualities.LOW" [(ngModel)]="audioQuality" />
              <label for="qualityLOW">LOW</label>
              <input type="radio" id="qualityHIGH" name="quality" [value]="audioQualities.HIGH" [(ngModel)]="audioQuality" />
              <label for="qualityHIGH">HIGH</label>
            </div>

            <div class="user-input current-start-time-checkbox">
              <label>Current time as start time
                <input type="checkbox" id="current-time" [(ngModel)]="useCurrentTime" />
              </label>
            </div>

            <div class="user-input time">
              <span>Start time</span>
              <label>
<!--                <input type="text" id="start-min" class="number-only" min="0" max="59" appSecondFormatter [(ngModel)]="startMin" [readOnly]="useCurrentTime" [ngClass]="{disable: useCurrentTime}" />-->
                <input type="text" id="start-min" class="number-only" min="0" max="59" [(ngModel)]="startMin" [readOnly]="useCurrentTime" [ngClass]="{disable: useCurrentTime}" />
              </label>
              <span>:</span>
              <label>
<!--                <input type="text" id="start-sec" class="number-only" min="0" max="59" appSecondFormatter [(ngModel)]="startSec" [readOnly]="useCurrentTime" [ngClass]="{disable: useCurrentTime}" />-->
                <input type="text" id="start-sec" class="number-only" min="0" max="59" [(ngModel)]="startSec" [readOnly]="useCurrentTime" [ngClass]="{disable: useCurrentTime}" />
              </label>
            </div>

            <div class="user-input time">
              <span>Duration</span>
              <label>
<!--                <input type="text" id="duration" class="number-only" min="0" max="60" appSecondFormatter [(ngModel)]="duration" />-->
                <input type="text" id="duration" class="number-only" min="0" max="60" [(ngModel)]="duration" />
              </label>
            </div>

            <div class="preview-btn">
              <button type="button" id="preview" (click)="preview()">preview</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="filePath">
      <div class="image-preview">
        <img [src]="filePath" alt="download file" />
      </div>
    </section>

    <section *ngIf="hasPlayer() && filePath">
      <div class="download-layer">
        <div class="download-btn">
          <button type="button" id="download" (click)="downloadFile()">download</button>
        </div>
      </div>
    </section>
  </main>
</div>
